section{
    width: 80vw;
    border: 2px solid gray;
    padding: 20px;
    margin: 10px auto;
    text-align: center;
} 
h1{
    font-size: 70px;
}

/* @media screen and (max-width:561px){
    h1{
        font-size: 20px;
        color: lightcoral;
    }
} */

@media screen and (min-width:561px){
    h1{
        font-size: 20px;
        color: lightcoral;
    }
}


