/* advanced selector */

/* descendent selector */
article p strong{
    color: aqua;
}

/* child selector */
ul >li{
    border: 2px solid red;
}

/* adjacent selector */

h1+p{
    font-size: 16px;
    background-color: red;
}
h1~p{
    border: 2px solid red;
}
