/* univesal selector */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-size: 60px; */
}


/* element selector */
h1{
    color: green;
}

/* class selector */
.class{
    color: red;
}
/* id selector */
#id{
    color: red;
}

/* Attribute selector */
input[type="text"]{
    /* background-color: aqua; */
}
a[href="https://m.facebook.com/"]{
    font-size: 20px;
    color: green;
}